@page "/counter"
@using QuranLib

<PageTitle>Counter</PageTitle>

@*@foreach (var ayah in quran.GetChapter(ChapterName.AlAhzab).Verses)
    {
    <h4>@ayah</h4>
    }*@
<br />
<h1>@randomAyah</h1>
@code {
    private static QuranInstance? quran;
    private static Random random = new();
    private static string randomAyah;
    protected override void OnInitialized()
    {
        QuranInstance quran = new QuranInstance();
        quran.LoadChapters(1, 5);
        Chapter? chapter = quran.GetChapter(1);
        randomAyah = chapter.Verses.ToList()[random.Next(0, chapter.TotalVerse)].Text;
        base.OnInitialized();
    }
}
